@import "../../Colors.scss";
@import "../../App.scss";

.containerProfile {
    @extend %flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa; 

    .profile {
        margin: 5%;
        background-color: #ddd2f1; 
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .profileOrdersSection {
            width: 600px;
        }

        .userInfo {
            @extend %flex;
            justify-content: space-between;
            background-color: #c8e8f7; 
            border-bottom: 1px solid $border;
            padding: 10px 15px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            margin: 1%;

            .info {
                padding: 2%;
            }

            img {
                height: 15vh;
                border-radius: 50%;
            }

            div {
                height: 20vh;
            }

            h3 {
                margin: 0;
                font-size: 24px;
            }
        }

        .profileSection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 5px;
            margin: 10px 0;
        }
    }
}
