@import '../../Colors.scss';
@import '../../App.scss';

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;   
    padding: 5px; 
img{  
        width: 25px;
        height: 25px;
        margin: 10px;
    }
    div{
        @extend %flex
    }
    hr{
        color: red;
        border: 1px solid pink;
    }

}