$border: #2d8cf0;
$marquee: rgba(255, 192, 203, 0.89);
$fontColor: #323232;
$fontColorSub: #666;

$mainBlue:  rgb(200, 226, 247);

$degrade:  linear-gradient(137.48deg, #fae172 10%, #f897d1 45%, rgba(203, 169, 255, 0.9843137255) 67%, #9bddf7 87%);

